body {
  font-family: 'Open Sans', sans-serif;
  .container {
    background-color: $gallery;
    min-height: calc(100vh - 110px);
  }
  strong {
    font-weight: bold;
  }
}

a {
  color: $matisse;
}
