.hero {
  background-color: $matisse;
  padding: 40px;
  @media (max-width: 420px) {
    padding: 40px 20px;
  }
  .joke {
    display: flex;
    flex-direction: column;
    background: $white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    max-width: 900px;
    width: 100%;
    padding: 20px;
    font-weight: bold;
    margin: 0 auto;
    .content {
      font-size: 22px;
      line-height: 30px;
      color: $matisse;
      margin-bottom: 16px;
      @media (max-width: 420px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .joke_type {
        color: #888888;
        font-size: 16px;
        @media (max-width: 420px) {
          font-size: 14px;
        }
      }
      #next {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: $matisse;
        padding: 10px 16px;
        font-size: 15px;
        color: $white;
        font-weight: bold;
        cursor: pointer;
        white-space: nowrap;
        transition: background-color 0.3s;
        &:hover {
          background-color: $matisse-dark;
        }
      }
    }
  }
}
.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  @media (max-width: 420px) {
    padding: 40px 20px;
  }
  .head {
    margin-bottom: 20px;
    .title {
      font-weight: bold;
      font-size: 26px;
      color: $matisse;
      margin-bottom: 20px;
      text-align: center;
      @media (max-width: 420px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 14px;
      text-align: center;
      color: #393939;
      margin-bottom: 3px;
      font-weight: 600;
    }
  }
  .usecases {
    display: flex;
    flex-direction: column;
    background: $white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    max-width: 900px;
    width: 100%;
    padding: 16px;
    margin: 20px auto;
    .title-container {
      position: relative;
      margin: 0 auto;
      text-decoration: none !important;
      .title {
        font-size: 22px;
        color: #5f5f5f;
        text-align: center;
        margin: 10px 0 16px;
        font-weight: bold;
        cursor: pointer;
        &::after {
          content: '#';
          position: absolute;
          left: -14px;
          top: 12px;
          color: #c5c5c5;
          font-weight: 400;
          font-size: 18px;
          opacity: 0;
          transition: 0.1s opacity ease-in-out;
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }
    p {
      font-size: 14px;
      margin: 8px 0 16px;
      color: #404040;
      font-weight: 600;
      line-height: 20px;
    }
    .example {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 8px;
      }
      .language {
        font-size: 12px;
        color: #8b8b8b;
        margin: 0 0 6px 2px;
        font-weight: bold;
      }
    }
    .modules-list {
      font-size: 14px;
      color: #404040;
      font-weight: 600;
      line-height: 20px;
      li {
        display: flex;
        align-items: center;
        white-space: pre;
        .icon{
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
      }
    }
  }
}
