<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Blagues API - Les meilleures blagues françaises</title>
<meta
  name="description"
  content="API de Blagues en français gratuite et open-source. Chaque jour de nouvelles blagues ajoutées par la communauté."
/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="Blagues API - Les meilleures blagues françaises"
/>
<meta
  name="twitter:description"
  content="API de Blagues en français gratuite et open-source. Chaque jour de nouvelles blagues ajoutées par la communauté."
/>
<meta name="twitter:creator" content="@DraftMan_Dev" />
<meta name="twitter:image" content="https://www.blagues-api.fr/Logo.200.png" />

<!-- Open Graph data -->
<meta
  property="og:title"
  content="Blagues API - Les meilleures blagues françaises"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.blagues-api.fr/" />
<meta property="og:image" content="https://www.blagues-api.fr/Logo.200.png" />
<meta
  property="og:description"
  content="API de Blagues en français gratuite et open-source. Chaque jour de nouvelles blagues ajoutées par la communauté."
/>
<meta property="og:site_name" content="Blagues API" />

<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800"
  rel="stylesheet"
/>
<link href="/files/style.css" rel="stylesheet" type="text/css" />
