<!Doctype html>
<html>
    <%- include('head', { auth: user }) -%> 
    <body>
        <%- include('header', { auth: user }) -%> 
        <div class="container token-page">
            <div class="card">
                <div class="token">
                    <div class="language">
                        VOTRE TOKEN
                    </div>
                    <div class="code">
                        <%= user.token %>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') -%> 
    </body>
</html>