<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('imports/head') -%>
    <script defer src="/js/token-generation.js"></script>
  </head>
  <body>
    <%- include('imports/header', { auth: user }) -%>
    <div class="container token-page">
      <div class="card">
        <div class="token">
          <div class="language">VOTRE TOKEN</div>
          <div class="code" id="copy-target"><%= user.token %></div>
          <div class="buttons">
            <button
              class="regerate"
              id="regenerate-btn"
              onclick="regenerateToken()"
            >
              REGÉNÉRER
            </button>
            <button class="copy" id="copy-btn" onclick="copyToClipboard()">
              COPIER
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include('imports/footer') -%>
  </body>
</html>
