<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Blagues API</title>
<meta name="description" content="API de Blagues françaises gratuite par authentification de Jetons Bearer" />
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Blagues API">
<meta name="twitter:description" content="API de Blagues françaises gratuite par authentification de Jetons Bearer">
<meta name="twitter:creator" content="@DraftMan_Dev">

<!-- Open Graph data -->
<meta property="og:title" content="Blagues API" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://blagues-api.xyz/" />
<meta property="og:image" content="https://blagues-api.xyz/images/card.png" />
<meta property="og:description" content="Lancez-vous dans une partie de Loups-Garous." />
<meta property="og:site_name" content="Wolfy" />

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800" rel="stylesheet">
