<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blagues API</title>
    <meta name="description" content="API de Blagues françaises gratuite par authentification de Jetons Bearer" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Blagues API">
    <meta name="twitter:description" content="API de Blagues françaises">
    <meta name="twitter:creator" content="@DraftMan_Dev">

    <!-- Open Graph data -->
    <meta property="og:title" content="Blagues API" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blagues-api.xyz/" />
    <meta property="og:image" content="https://blagues-api.xyz/images/card.png" />
    <meta property="og:description" content="API de Blagues françaises" />
    <meta property="og:site_name" content="Blagues API" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet">
    <link href="/main.bundle.css" rel="stylesheet" type="text/css" />
</head>