footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $matisse;
  color: $white;
  height: 40px;
  .copyright {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    a {
      color: #ffffff;
    }
  }
}
