header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $matisse-dark;
  color: $white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  .wrapper {
    width: 1110px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 720px) {
      flex-direction: column;
    }
    .brand {
      display: flex;
      align-items: center;
      width: 60%;
      margin-right: 8%;
      user-select: none;
      cursor: pointer;
      color: $white;
      text-decoration: none;
      @media (max-width: 720px) {
        width: 100%;
        justify-content: center;
        margin-right: 0;
      }

      .logo {
        width: 70px;
        height: 70px;
      }

      .name {
        margin-left: 6px;
        font-size: 26px;
        font-weight: 800;
        text-shadow: 1px 1px 3px #000000cc;
      }
    }
    .navigation {
      display: flex;
      align-items: center;

      @media (max-width: 720px) {
        width: 100%;
        justify-content: center;
        padding: 12px;
      }

      .item {
        font-weight: 600;
        margin: 10px;
        text-decoration: none;
        color: white;
        &.rounded {
          display: flex;
          padding: 10px 14px;
          background-color: $white;
          color: $matisse;
          border-radius: 18px;
        }
        @media (max-width: 420px) {
          margin: 10px 5px;
        }
      }
      .user-place {
        display: flex;
        align-items: center;
        margin: 0 10px;
        @media (max-width: 420px) {
          margin: 0 5px;
        }
        .avatar {
          background-size: 32px;
          height: 36px;
          width: 36px;
          border-radius: 18px;
          border: 2px solid $white;
          @media (max-width: 420px) {
            display: none;
          }
        }
        .username {
          margin-left: 8px;
          text-transform: none;
          font-weight: 600;
          font-size: 18px;
          color: white;
          @media (max-width: 420px) {
            font-size: 16px;
            margin-left: 0;
          }
        }
      }
    }
  }
}
