header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $matisse;
    color: $white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    .wrapper{
        width: 1110px;
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand{
            display: flex;
            align-items: center;
            width: 60%;
            margin-right: 8%;
            user-select: none;
            cursor: pointer;
            .logo {
                width: 70px;
                height: 70px;
            }

            .name {
                margin-left: 6px;
                font-size: 26px;
                font-weight: 800;
                text-shadow: 1px 1px 3px #000000cc;
            }
        }
        .navigation{
            display: flex;
            align-items: center;
            .item{
                font-weight: 700;
                margin: 10px;
                &.rounded{
                    display: flex;
                    padding: 10px 14px;
                    background-color: $white;
                    color: $matisse;
                    border-radius: 18px;
                }
            }
            .user-place {
                display: flex;
                align-items: center;
                margin-left: 10px;
                .avatar {
                  background-size: 36px;
                  height: 40px;
                  width: 40px;
                  border-radius: 40px;
                  border: 2px solid $white;
                }
                .username {
                  margin-left: 8px;
                  text-transform: none;
                  font-weight: bold;
                  font-size: 18px;
                }
              }
        }
    }
}