code[class*='language-'],
pre[class*='language-'] {
  color: #839496; /* base0 */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  line-height: 1.5;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  hyphens: none;
  tab-size: 4;
}

pre[class*='language-']::-webkit-scrollbar {
  height: 8px;
  background-color: var(--secondary);
  appearance: none;
}

pre[class*='language-']::-webkit-scrollbar-thumb {
  transition: background-color 0.2s ease;
  background-color: var(--primary);
}

pre[class*='language-']::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-dark);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: #073642; /* base02 */
}

/* Code blocks */
pre[class*='language-'] {
  margin: 0 0 1em;
  padding: 1em;
  padding-right: 45px;
  overflow: auto;
  border-radius: 0.3em;
}

pre[class*='language-']:last-child {
  margin: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #002b36; /* base03 */
}

code[class*='language-'] mark,
pre[class*='language-'] mark {
  display: inline-block;
  padding: 1px;
  border: 1px solid #000000;
  background: none;
  background: rgb(0 0 0 / 20%);
  box-shadow: 0 0 2px #ffffff;
  color: inherit;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.attr-name,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1; /* base1 */
}

.token.punctuation {
  color: #657b83; /* base00 */
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #d33682; /* magenta */
}

.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #2aa198; /* cyan */
}

.token.entity {
  color: #2aa198; /* cyan */
  cursor: help;
}

.token.atrule,
.token.keyword {
  color: #859900; /* yellow */
}

.token.tag,
.token.function {
  color: #268bd2; /* blue */
}

.token.regex,
.token.important,
.token.variable {
  color: #cb4b16; /* orange */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
